[Unit]
Description=Weather telegram bot
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/weather_bot/weather_telegram_bot.py -l info

[Install]
WantedBy=multi-user.target

